/* src/Styles/DashboardLayout.module.css */
.dashboardLayout {
  display: flex;
  min-height: 100vh;
  background-color: #f7faf9;
}

.dashboardContent {
  flex: 1;
  min-width: 0;
  padding: 12px 20px;
  /* في الشاشات الصغيرة يمكن تقليل البادينج إذا لزم الأمر */
}

@media (max-width: 768px) {
  .dashboardLayout {
    flex-direction: column;
  }
  .dashboardContent {
    margin-left: 0;
    padding: 20px;
  }
}
